* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body {
  margin: 0;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

img {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  margin-top: 44px;
  margin-bottom: 57px;
}
.header__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.header__title, .footer__logo_title {
  font-family: "DM Serif Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 125%;
}
.header__img, .footer__logo_img {
  width: 34px;
  height: 34px;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 32px;
  color: #4D5053;
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
}
.header__nav a {
  color: #292F36;
}

.blog-banner {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 351px;
  background-image: url("img/blogBanner.png");
  margin-bottom: 200px;
}

.blog {
  display: flex;
  flex-direction: row;
  margin-bottom: 96px;
  max-width: 799px;
}
.blog__title {
  font-family: "DM Serif Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 125%;
  color: #292F36;
  margin-bottom: 21px;
}
.blog__img {
  max-width: 799px;
  min-height: 539px;
}
.blog__img2 {
  max-width: 799px;
  min-height: 365px;
  padding-bottom: 35px;
}
.blog__date {
  padding-top: 46px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.blog__date_text {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #4D5053;
}
.blog__text {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: #4D5053;
}
.blog__text span {
  color: #CDA274;
  padding-right: 14px;
}
.blog__quote {
  margin-top: 35px;
  height: 267px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  border-radius: 50px;
  background-color: #F4F0EC;
  color: #CDA274;
  margin-bottom: 27px;
}
.blog__quote_img {
  width: 85px;
  height: 113px;
}
.blog__quote_text {
  font-family: "DM Serif Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 150%;
  font-style: italic;
}
.blog__ul {
  padding-top: 24px;
  padding-bottom: 44px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-right: 66px;
}

.tags {
  margin-left: 52px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.tags__title {
  font-family: "DM Serif Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 125%;
  color: #292F36;
  padding-bottom: 24px;
}
.tags__btn {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #4D5053;
  border-radius: 10px;
  height: 119px;
  border: none;
  background-color: #F4F0EC;
}
.tags__btn:active {
  background-color: #4D5053;
  color: #fff;
}

.footer {
  padding-top: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 272px;
  margin-bottom: 134px;
}
.footer__logo {
  display: flex;
  flex-direction: column;
}
.footer__logo_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 18px;
}
.footer__logo_img {
  padding-right: 10px;
}
.footer__logo_text {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: #4D5053;
  padding-bottom: 21px;
}
.footer__logo_links {
  display: flex;
  gap: 54px;
}
.footer__logo_link_img {
  width: 18px;
  height: 22px;
}
.footer__pages {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding-right: 322px;
}
.footer__pages_title {
  font-family: "DM Serif Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 125%;
  color: #292F36;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.footer__nav a {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: #4D5053;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.footer__contacts_title {
  font-family: "DM Serif Display", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 125%;
  color: #292F36;
}
.footer__contacts_text {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: #4D5053;
}/*# sourceMappingURL=style.css.map */